/* 字体 */
@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'YSHST';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/SourceHanSansCN/font/SubsetOTF/CN/SourceHanSansCN-Bold.otf);
}

body,
.gitcalendar {
    font-size: 16px;
    font-family: YSHST; !important 
}

:root {
    --zj-border-color: #6f42c1;
}



